/* general rules */
:root{
    --green: #1abc9c;
    --grey: #2c3e50;
}

.ms_divider{
    color: inherit;
    font-size: 2.5rem;
}

.ms_divider .ms_line{
    display: inline-block;
    width: 10vw;
    height: 4px;
    border-radius: 2px;
    margin: 0 5px;
    vertical-align: middle;
}

/* header rules */
header{
    background-color: var(--grey);
    color: #fff;
}

.nav-link{
    color: #fff;
}

/* main rules */
/* start boostrap rules */
#start_bootstrap{
    background-color: var(--green);
    color: #fff;
    margin-top: 71px;
}

#start_bootstrap img{
    width: 230px;
}

#start_bootstrap .ms_divider .ms_line{
    background-color: #fff;
}

/* portfolio rules */
#portfolio [class*="col-"] *{
    width: 100%;
}

#portfolio .ms_divider .ms_line{
    background-color: #000;
}

/* about rules */
#about{
    background-color: var(--green);
    color: #fff;
}

#about .ms_divider .ms_line{
    background-color: #fff;
}

/* contact-me rules */
#contact_me .ms_divider .ms_line{
    background-color: #000;
}

#contact_me .form-control{
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
}

#contact_me button{
    background-color: var(--green);
    color: #fff;
}

/* generality rules */
#generality{
    background-color: #3a546d;
    color: #fff;
}

/* generality rules */
#generality .social{
    display: inline-block;
    width: 45px;
    height: 45px;
    border: 1px solid #fff;
    border-radius: 50%;
    vertical-align: middle;
}

#generality .social:hover{
    cursor: pointer;
}

/* footer rules */
footer{
    background-color: var(--grey);
    color: #fff;
}