:root{
    --green: #1abc9c;
    --grey: #2c3e50;
}

header{
    background-color: var(--grey);
    color: #fff;
}

.nav-link{
    color: #fff;
}

.start_bootstrap{
    background-color: var(--green);
    /* DEBUG */
    height: 600px;
}

.start_bootstrap *{
    /* DEBUG */
    background-color: #fff;
}

.start_bootstrap img{
    width: 230px;
}

#portfolio [class*="col-"]{
    /* DEBUG */
    background-color: var(--grey);
    height: 200px;
    border: 1px solid#fff;
}

#portfolio [class*="col-"] *{
    /* DEBUG */
    width: 100%;
    height: 100%;
    background-color: red;
}

#about{
    background-color: var(--green);
    /* DEBUG */
    height: 400px;
    margin-top: 50px;
}

#about .col{
    /* DEBUG */
    background-color: aquamarine;
    height: 200px;
    border: 1px solid white;
}

#location{
    background-color: #3a546d;
}

#location [class*="col-"]{
    /* DEBUG */
    background-color: red;
    height: 250px;
}

footer{
    background-color: var(--grey);
    /* DEBUG */
    height: 100px;
}